@model QuotesArtGenerator.Models.Quote
@using QuotesArtGenerator;

@{
    ViewData["Title"] = "QuoteGen";
}
<div class="jumbotron bg-white">
    <div class="container-fluid">
        <h1 class="display-4 text-center">Quotes Art Generator</h1>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-2">
        <div class="btn-group" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category: <br /><b>@Html.DisplayFor(model => model.CATEGORY)</b>
            </button>
            <div class="dropdown-menu" style="height: auto;max-height: 200px;overflow-x: hidden;">
                @{
                    var Lst = ViewBag.data as List<string>;
                    foreach (var item in Lst)
                    {
                        <a class="dropdown-item" href="/Home/Index?category=@item">@item</a>
                    }
                }
            </div>
        </div>
    </div>
    <div class="co-sm-12 col-md-8">
        <img src="@PixabayAPI.GetPixabayUrl(Model.CATEGORY).Result" class="rounded" alt="pixabayImg" style="position: relative; width: 100%;">
        <h3 class="quote text-white">
            "@Html.DisplayFor(model => model.QUOTE)"
        </h3>
    </div>
    <div class="col-md-2">
        <a class="btn btn-outline-primary float-right"
           style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);"
           asp-controller="Home" asp-action="Index?@Html.DisplayFor(model => model.CATEGORY)"
           role="button">
            Generate next
        </a>
    </div>
</div>
<hr />
<h5>
    <br />
    Author:
    <a href="/Home/GetWikiUrl?author=@Html.DisplayFor(model => model.AUTHOR)">
        @Html.DisplayFor(model => model.AUTHOR)
    </a>
</h5>
</div>

@*<img src="@PixabayAPI.GetPixabayUrl(Model.CATEGORY).Result" class="rounded" alt="pixabayImg">*@

